<script setup>
import { useMQTT } from 'mqtt-vue-hook';
import { ref } from 'vue';

const mqtt_client = useMQTT()

function connect() {
  console.log('connecting')
  mqtt_client.connect(`${data.value.protocol}://${data.value.host}:${data.value.port}`, {
    clean: false,
    keepalive: 60,
    clientId: `mqtt_client_${Math.random().toString(16).substring(2, 10)}`,
    connectTimeout: 4000,
    username: 'telemetry',
    password: 'UWOeDZGUlbd3Q5sWn9xqEG0A',
  }).then(() => {
    console.log('connected')
    subscribe()
  }, error => {
    console.log('error', error)
  })
}

function publish() {
  mqtt_client.publish(
    data.value.alertTopic + '/' + data.value.alertSender,
    JSON.stringify({
      message: data.value.alertMessage,
      live: new Date().toISOString(),
    }), 1, () => {
      console.log('published')
      data.value.alertMessage = ''
    },
  )
}

function intentionalSubscribe(channel) {
  console.log('subscribing to', channel)
  mqtt_client.subscribe([channel], 1)

  mqtt_client.registerEvent(
    `${channel}/#`,
    (topic, message) => {
      // console.log("event:", { topic, type: typeof mesJson, mesJson })
      const msg2json = msg => {
        try {
          return JSON.parse(msg)
        }
        catch (error) {
          return msg
        }
      }

      const mesJson = msg2json(message.toString())
      let obj = data.value.mqtt_messages
      const splitString = topic.split('/')

      for (const key of splitString) {
        if (!obj[key])
          obj[key] = {}

        obj = obj[key]
      }

      if (!Array.isArray(obj))
        obj = []

      obj.push(mesJson)
    },
  )
}

function unsubscribe(channel) {
  mqtt_client.unSubscribe(channel)
}

function subscribe() {
  // get all topics
  mqtt_client.subscribe([data.value.alertTopic + '/#'], 1)

  mqtt_client.registerEvent(
    data.value.alertTopic + '/#',
    (topic, message) => {
      console.log('event:', { topic, message: message.toString() })
    },
    'key',
  )

  console.log('events registered.')
}

const data = ref({
  host: 'mq.dev.responsetech.ltd',
  port: 61619,
  protocol: 'wss',
  textareaValue: '',
  mqtt_messages: {},
  isConnected: mqtt_client.isConnected(),
  client: mqtt_client.client,
  alertSender: '',
  alertMessage: '',
  alertTopic: `alert`,
})

const currentTab = ref(0)

const subscribed = ref({})

onMounted(() => {
  mqtt_client.isConnected() ? subscribe() : connect()
})
</script>

<template>
  <div>
    <VCard title="Send Alert">
      <VCardText class="position-absolute" style="top: 0.5em;right: 0;">
        <VBadge icon="tabler-access-point"
          :color="data.isConnected ? 'success' : 'error'">
          <VTooltip activator="parent" location="end">
            {{ data.isConnected ? 'Connected' : 'Disconnected' }}
          </VTooltip>
        </VBadge>
      </VCardText>
      <VCardText>
        <VRow>
          <VCol cols="12">
            <VTextField label="Name" density="compact"
              v-model="data.alertSender" />
          </VCol>
          <VCol cols="12">
            <VTextarea color="error" label="Alert Message"
              v-model="data.alertMessage"
              prepend-inner-icon="tabler-alert-triangle" />
          </VCol>
        </VRow>
        <VBtn @click="publish" class="mt-4">Send Alert</VBtn>
      </VCardText>
    </VCard>
  </div>
</template>
