<script setup>
import { useMQTT } from 'mqtt-vue-hook';
import { computed, ref } from 'vue';
import JsonTree from 'vue-json-tree';

const mqtt_client = useMQTT()

function connect() {
  console.log('connecting')
  mqtt_client.connect(`${data.value.protocol}://${data.value.host}:${data.value.port}`, {
    clean: false,
    keepalive: 60,
    clientId: `mqtt_client_${Math.random().toString(16).substring(2, 10)}`,
    connectTimeout: 4000,
    username: 'telemetry',
    password: 'UWOeDZGUlbd3Q5sWn9xqEG0A',
  }).then(() => {
    console.log('connected')
    subscribe()
  }, error => {
    console.log('error', error)
  })
}

function publish() {
  mqtt_client.publish(
    data.value.selectedTopic,
    JSON.stringify({
      json: data.value.publish,
      live: new Date().toISOString(),
    }), 1, () => {
      console.log('published')
      data.value.publish = ''
    },
  )
}

function intentionalSubscribe(channel) {
  console.log('subscribing to', channel)
  mqtt_client.subscribe([channel], 1)

  mqtt_client.registerEvent(
    `${channel}/#`,
    (topic, message) => {
      // console.log("event:", { topic, type: typeof mesJson, mesJson })
      const msg2json = msg => {
        try {
          return JSON.parse(msg)
        }
        catch (error) {
          return msg
        }
      }

      const mesJson = msg2json(message.toString())
      let obj = data.value.mqtt_messages
      const splitString = topic.split('/')

      for (const key of splitString) {
        if (!obj[key])
          obj[key] = {}

        obj = obj[key]
      }

      if (!Array.isArray(obj))
        obj = []

      obj.push(mesJson)
    },
  )
}

function unsubscribe(channel) {
  mqtt_client.unSubscribe(channel)
}

function subscribe() {
  // get all topics
  mqtt_client.subscribe(['#'], 1)

  mqtt_client.registerEvent(
    '#/',
    (topic, message) => {
      const msg2json = msg => {
        try {
          return JSON.parse(msg)
        }
        catch (error) {
          return msg
        }
      }

      const splitString = topic.split('/')

      if (!data.value.tabs.includes(splitString[0]))
        data.value.tabs.push(splitString[0])
    },
    'key',
  )

  console.log('events registered.')
}

const data = ref({
  host: 'mq.dev.responsetech.ltd',
  port: 61619,
  protocol: 'wss',
  textareaValue: '',
  mqtt_messages: {},
  isConnected: mqtt_client.isConnected(),
  client: mqtt_client.client,
  tabs: [],
  selectedTopic: '',
  topics: [],
})

const currentTab = ref(0)

const subscribed = ref({})

onMounted(() => {
  mqtt_client.isConnected() ? subscribe() : connect()
})

watch(data.value.tabs, newValue => {
  currentTab.value = newValue - 1
})

watch(subscribed.value, newValue => {
  Object.keys(newValue).forEach(key => {
    if (newValue[key])
      intentionalSubscribe(key)
    else
      unsubscribe(key)
  })
})

const generateTopicArray = (obj, parentKey = '') => {
  return Object.entries(obj).reduce((acc, [key, value]) => {
    const newKey = parentKey ? `${parentKey}/${key}` : key
    if (typeof value === 'object')
      return [...acc, newKey, ...generateTopicArray(value, newKey)]

    return [...acc, newKey]
  }, []).sort()
}

const topics = computed(() => {
  const topics = generateTopicArray(data.value.mqtt_messages || data.value.tabs)

  data.value.topics = topics

  return topics
})
</script>

<template>
  <div>
    <VRow>
      <VCol cols="12" md="6">
        <VCard title="Topics" class="h-100">
          <VCardText class="position-absolute" style="top: 0.5em;right: 0;">
            <VBadge icon="tabler-access-point"
              :color="data.isConnected ? 'success' : 'error'">
              <VTooltip activator="parent" location="end">
                {{ data.isConnected ? 'Connected' : 'Disconnected' }}
              </VTooltip>
            </VBadge>
          </VCardText>
          <VTabs v-model="currentTab" direction="vertical">
            <VTab v-for="n in data.tabs" :key="n" :value="n" class="vtab">
              <VCheckbox v-model="subscribed[n]" />
              {{ n.toUpperCase() }} {{
                data.mqtt_messages[n]
                  ? `(${Object.keys(data.mqtt_messages[n]).length})` : ''
              }}
            </VTab>
          </VTabs>
        </VCard>
      </VCol>
      <VCol cols="12" md="6">
        <VCard tonal density="flat" title="Publish" class="h-100">
          <VCardText>
            <VCombobox v-model="data.selectedTopic" density="compact"
              variant="outlined" label="Select or enter a topic." color="error"
              :items="topics" />
          </VCardText>
          <VCardText>
            <VTextarea color="error" v-model="data.publish" label="Message"
              auto-grow />
          </VCardText>
          <VCardText>
            <VBtn ref="publishButton" inline color="primary" @click="publish">
              Publish
            </VBtn>
          </VCardText>
        </VCard>
      </VCol>
    </VRow>

    <br>
    <VCard title="Messages" class="pb-4">
      <VCardText>
        <VWindow v-model="currentTab" class="ms-3">
          <VWindowItem v-for="n in data.tabs" :key="n" :value="n">
            <VChip class="mb-1" variant="tonal" color="secondary"
              v-html="n.toUpperCase()" />
            <div v-if="!data.mqtt_messages[n] && subscribed[n]">
              <VProgressLinear indeterminate color="primary" />
            </div>
            <div v-else-if="!data.mqtt_messages[n] && !subscribed[n]">
              <VAlert variant="tonal" color="secondary">
                Not subscribed.
              </VAlert>
            </div>
            <div v-else-if="data.mqtt_messages[n].length === 0">
              <VAlert type="info" border="left" elevation="2">
                No messages received.
              </VAlert>
            </div>
            <div v-else>
              <JsonTree class="vtab" :data="data.mqtt_messages[n]" :level="0" />
            </div>
          </VWindowItem>
        </VWindow>
      </VCardText>
    </VCard>
  </div>
</template>
