<script setup lang="ts">
import { useRegisterSW } from 'virtual:pwa-register/vue';
import JsonTree from 'vue-json-tree';


const APP_SERVER_KEY = 'BN3W5M7wupjtxtxTUTm96duhXouxBqwUoByX5ShfwgyOYXSybqsBtaFYCYkAd9BeVpkYbR-zFpCPnU-Co0t0B1I';
//"BM-ud-nM678RHOwGNTwWVmgMoNZQHEf5Ujg9-kiaUxQkDnPyG8NM886bgXppa8CFtbZoTiZwXkz1yLx3xxdhfoE"
// vAX5mQVUYBDsYAzBCbQmRbzMqjzvYbswx5OLrlZF0pYc

function urlB64ToUint8Array(base64String: string | any[]) {
  const padding = '='.repeat((4 - base64String.length % 4) % 4);
  const base64 = (base64String + padding)
    .replace(/\-/g, '+')
    .replace(/_/g, '/');

  const rawData = window.atob(base64);
  const outputArray = new Uint8Array(rawData.length);

  for (let i = 0; i < rawData.length; ++i) {
    outputArray[i] = rawData.charCodeAt(i);
  }
  return outputArray;
}

const msg2json = (msg: string) => { try { return JSON.parse(msg) } catch (e) { return msg } }

let isSubscribed = ref(false);
let swRegistration: ServiceWorkerRegistration | null | undefined = null;
let pushButtonLabel = ref('Enable Push Messaging');
let pushButtonDisabled = ref(false);
let subscriptionJSON = ref("")
let showDebug = ref(false)

const intervalMS = 60 * 60 * 1000

const {
  offlineReady,
  needRefresh,
  updateServiceWorker,
} = useRegisterSW({
  onRegistered(r) {
    r && setInterval(() => {
      r.update()
    }, intervalMS);
    askPermission().then(() => {
      if (!r) return
      swRegistration = r;
      console.log('Service Worker is registered', r);
      const options = {
        userVisibleOnly: true,
        applicationServerKey: urlB64ToUint8Array(APP_SERVER_KEY)
      }
      return r.pushManager.subscribe(options)

    }).then((pushSubscription) => {
      // we got the pushSubscription object
      console.log('Received PushSubscription: ', pushSubscription)
      const subscription = JSON.stringify(pushSubscription)
      updateSubscriptionOnServer(subscription)
      initializeUI();
    });

  }
})

const close = async () => {
  offlineReady.value = false
  needRefresh.value = false
}


function updateBtn() {
  console.log('updateBtn', isSubscribed.value)
  if (Notification.permission === 'denied') {
    pushButtonDisabled.value = true;
    pushButtonLabel.value = 'Push Messaging Blocked.';
    updateSubscriptionOnServer(null);
    return;
  }

  if (isSubscribed.value) {
    pushButtonLabel.value = 'Disable Push Messaging';
  } else {
    pushButtonLabel.value = 'Enable Push Messaging';
  }
  pushButtonDisabled.value = false;
}

const askPermission = () => {
  return new Promise((resolve, reject) => {
    const permissionResult = Notification.requestPermission((result) => {
      resolve(result)
    })
    if (permissionResult) {
      permissionResult.then(resolve, reject)
    }
  })
    .then((permissionResult) => {
      if (permissionResult !== 'granted') {
        console.warn('Permission denied')
      }
    })
}

function updateSubscriptionOnServer(subscription: any) {
  if (subscription) {
    console.log('updateSubscriptionOnServer', subscription)
    subscriptionJSON.value = msg2json(subscription);
    //subscriptionDetails.classList.remove('is-invisible');
  }
}

function pushButtonClicked() {
  if (isSubscribed.value) {
    unsubscribeUser();
  } else {
    subscribeUser();
  }
}
function initializeUI() {
  // Set the initial subscription value
  swRegistration.pushManager.getSubscription()
    .then(function (subscription: null) {
      isSubscribed.value = !(subscription === null);

      updateSubscriptionOnServer(subscription);

      if (isSubscribed.value) {
        console.log('User IS subscribed.');
      } else {
        console.log('User is NOT subscribed.');
      }

      updateBtn();
    });
}
function subscribeUser() {
  const applicationServerKey = urlB64ToUint8Array(APP_SERVER_KEY);
  swRegistration.pushManager.subscribe({
    userVisibleOnly: true,
    applicationServerKey: applicationServerKey
  })
    .then(function (subscription: any) {
      console.log('User is subscribed.');

      updateSubscriptionOnServer(subscription);
      isSubscribed.value = true;
      updateBtn();
    })
    .catch(function (err: any) {
      console.log('Failed to subscribe the user: ', err);
      updateBtn();
    });
}
function unsubscribeUser() {
  swRegistration.pushManager.getSubscription()
    .then(function (subscription: { unsubscribe: () => any; }) {
      if (subscription) {
        return subscription.unsubscribe();
      }
    })
    .catch(function (error: any) {
      console.log('Error unsubscribing', error);
    })
    .then(function () {
      updateSubscriptionOnServer(null);

      console.log('User is unsubscribed.');
      isSubscribed.value = false;

      updateBtn();
    });
}


</script>

<template>
  <div class="d-flex align-center text-medium-emphasis">
    <VSnackbar v-model="offlineReady" location="top" color="secondary"
      variant="tonal" vertical>
      App is ready to work offline
    </VSnackbar>
    <VSnackbar v-model="needRefresh" location="top" color="secondary"
      variant="tonal" :timeout="10000" vertical>
      New content available, click refresh to update.
      <template #actions>
        <VBtn size="small" class="l-1" variant="flat" @click="close">
          Close
        </VBtn>&nbsp;
        <VBtn size="small" color="primary" variant="flat"
          @click="updateServiceWorker">
          Refresh
        </VBtn>
      </template>
    </VSnackbar>
    <VCard v-show="showDebug">
      <VCardText>
        <VBtn size="small" class="js-push-btn l-1" variant="flat"
          @click="pushButtonClicked" :disabled="pushButtonDisabled">
          {{ pushButtonLabel }}
        </VBtn>
        <VCardText v-show="isSubscribed">
          <JsonTree class="vtab" :data="subscriptionJSON" :level="0" />
        </VCardText>
      </VCardText>
    </VCard>
  </div>
</template>
